<div class="jumbotron">
    {{#unless article}}
    <button class="scrape btn">Scrape articles now!</button>
    {{/unless}}
    {{#each article}}
    <div class="article rounded" data-id="{{this.id}}">
        <a href="{{this.link}}">{{this.title}}</a><br>
        <p>{{this.summary}}</p>
    </div>
    {{/each}}
</div>