body {
    font-family: 'Roboto', sans-serif;
}
nav {
   box-shadow: 0px 3px #888888;
}
.btn {
    background: rgb(255,162,0);
    border: black;
}
a {
    color: black;
}
.form-group {
    background-image: url("/images/joeingles.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
hr {
    background: white;
}
.jumbotron {
 background: white;
}
.article:hover {
    background: rgb(255,162,0);
    cursor: pointer;
}
.nav-link:hover {
    background: rgb(255,162,0);
}
.note {
    background: rgb(18,32,65);
    color: white;
    border: 1px double black;
}
